.has-same-height .card {
    height: 340px;
    overflow: hidden;
  }
  
  .card-content h3 {
    text-align: center;
  }
  
  .table-profile td,
  th {
    border: none !important;
  }
  
  .table-profile td:first-of-type {
    font-weight: bold;
  }
  
  .skills-content .media {
    margin: 0 !important;
    padding: 4px !important;
    border: 0 !important;
  }
     
  .custom-tags {
    text-align: center !important;
    display: block;
  }
  
  .portfolio-container .card {
    margin-bottom: 2em;
  }
  
  .section-heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 6em;
  }

  .icons-padding {
      padding-right: 10px;
  }

  .card-margin {
    margin-right: 6px;
  }
 